@model Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="container-xxl py-5">
    <div>
        <h4 class="text-center">Product Details</h4>
        <hr />
        <dl class="row justify-content-center">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductCode)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductCode)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.QtyInStock)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.QtyInStock)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
        <a asp-action="Manage">Back to List</a>
    </div>

</div>
